<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/viewerjs/1.3.7/viewer.min.css" rel="stylesheet">
    <link href="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css" rel="stylesheet">
    <link href="/static/css/mobile.css" rel="stylesheet" type="text/css" media="screen and (max-width: 1440px)">
    <link href="/static/css/pc.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)">
    <script src="https://cdn.bootcss.com/viewerjs/1.3.7/viewer.min.js"></script>
    <script src="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js"></script>
</head>
<style>


</style>
<body>
<ul class="flow-default layui-btn-container" id="images">

</ul>
</body>
<script>
    //最好把 viewer 定义为全局变量
    var viewer = new Viewer(document.getElementById('images'));
    //查看更多，更新一次
    viewer.update();

    layui.use(['form','layer','flow'], function(){
        var layer = layui.layer;
        var flow = layui.flow;
        $ = layui.jquery;

        flow.load({
            elem: '#images' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据
                $.get('/listImg/?pageNo='+page, function(res){
                    console.log(res);
                    layui.each(res, function(index, item){
                        lis.push("<li><img src=\""+item.IMG_PATH+"\"></li>");
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''));
                    if(page==0){
                        viewer = new Viewer(document.getElementById('images'));
                    }else{
                        viewer.update();
                    }
                });
            }
        });
    });
</script>
</html>